{% extends '_base.html' %}
{% load static %}
{% load jalali_tags %}
{% block page_title %}{{ post.title }}{% endblock page_title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/css_blog.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="blog-container p-4">
                <h1 class="mb-4 text-center blog-title">{{ post.title }}</h1>
                <div class="blog-content">
                    <p class="text-muted">نویسنده: {{ post.author.get_full_name }} -
                        تاریخ: {{ post.datetime_created|date:"Y/m/d" }}</p>
                    <p>{{ post.body|safe }}</p>
                </div>
                <div id="comments-container" data-blog-slug="{{ post.slug }}" class="comments-section mt-5">
                    <h3 class="mb-4">نظرات:</h3>
                    <div class="comment-list">
                        <!-- کامنت‌ها به اینجا اضافه می‌شوند -->
                    </div>
                </div>
                <div id="alert-container" class="mt-3"></div>
                <div class="add-comment mt-5">
                    <h3 class="mb-4 pr-3">ارسال یک نظر:</h3>
                    {% if user.is_authenticated %}
                        <form id="comment-form" data-blog-slug="{{ post.slug }}" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label for="comment-body" class="form-label">متن نظر</label>
                                <textarea class="form-control" id="comment-body" name="body" rows="5" required
                                          placeholder="نظر خود را اینجا بنویسید..."></textarea>
                                <div class="invalid-feedback">
                                    لطفاً متن نظر خود را وارد کنید.
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">
                                <i class="fas fa-paper-plane me-2"></i> ارسال کامنت
                            </button>
                        </form>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            برای ارسال نظر خود باید <a href="{% url 'login_signup' %}" class="alert-link">ورود</a> یا
                            <a href="{% url 'login_signup' %}" class="alert-link">ثبت‌نام</a> کنید.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
