[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
drf-nested-routers = "*"
django-filter = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-rosetta = "*"
django-allauth = {extras = ["socialaccount"], version = "*"}
django-jalali-date = "*"
pillow = "*"
django-ckeditor = "*"
jdatetime = "*"

[dev-packages]

[requires]
python_version = "3.13"
