{% load static %}
{% load i18n %}
{% load jalali_tags %}
<!DOCTYPE html>
<html lang="fa">
<head>
    
    
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block page_title %}{% endblock page_title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% include 'links_and_script.html' %}

    {% block extra_css %}{% endblock extra_css %}
</head>

<body dir='rtl'>

<!-- Main Wrapper Start -->
<div class="wrapper">

    {% include 'header.html' %}

    {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}

        </div>
    {% endif %}
    
    {% block content %}{% endblock content %}


    {% include 'footer.html' %}
    {% include 'course_registration.html' %}

</div>
<!-- Main Wrapper End -->
</body>


</html>

    
