{% load static %}
<!-- Header Start -->
    <!-- هدر -->
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <!-- لوگو -->
                <div class="logo">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'img/logo.png' %}" alt="لوگو">
                    </a>
                </div>


                <!-- منوی ناوبری -->
                <nav class="navbar">
                    <ul class="nav-list">
                        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">خانه</a></li>
                        <li class="nav-item"><a href="{% url 'blog_page' %}" class="nav-link">وبلاگ</a></li>
                        <li class="nav-item"><a href="{% url 'product-list' %}" class="nav-link">محصولات</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">درباره ما</a></li>
                    </ul>
                </nav>

                <!-- فرم جستجو -->
                <div class="search-box">
                    <form action="{% url 'search' %}" method="get" class="search-form">
                        <input type="text" name="q" placeholder="جستجو..." class="search-input">
                        <button type="submit" class="search-btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>

                <!-- بخش کاربر -->
                <div class="user-section">
                    {% if user.is_authenticated %}
                        <div class="user-dropdown">
                            <button class="user-btn">
                                <i class="fas fa-user-circle"></i> {{ user.first_name }} عزیز خوش آمدید!
                            </button>
                            <div class="dropdown-content">
                                {% if user.is_staff or user.is_superuser %}
                                    <a href="{% url 'admin-panel' %}"><i class="fas fa-tachometer-alt"></i> پنل
                                        مدیریت</a>
                                {% else %}
                                    <a href="{% url 'user-panel' %}"><i class="fas fa-user"></i> پروفایل</a>
                                {% endif %}
                                <a href="{% url 'custom_logout' %}"><i class="fas fa-sign-out-alt"></i> خروج</a>
                            </div>
                        </div>
                    {% else %}
                        <a href="{% url 'login_signup' %}" class="login-btn">
                            <i class="fas fa-sign-in-alt"></i> ورود / ثبت‌نام
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <!-- Header End -->